html {
    background: #f3f3f3;
}

.blBackground, .blueColorBorder:hover {
    background: #2980B9;
}

#mTLeft {
    justify-content: flex-start;
}

.mTLItem {
    justify-content: center;
    font-size: 1em;
    flex-grow: 0;
    padding: 1em 1.8em 1.5em 1.8em;
}

.mTLItem:hover, .lightBlBackground {
    background: #226c9a;
}

.blueColorBorder {
    border-color: #2980B9;
}

.blueColor {
    color: #2980B9;
}

#mTRight {
    font-size: 1em;
}

#mTRight > div:hover {
    background: #2980B9;
}

.add-content {
    text-shadow: none;
    padding: .4vmin .8vmin .4vmin .8vmin;
    background: #27ae60;
    margin: .2vmin 0 0 2.8vmin;
}

#searchInput {
    width: 300px;
    margin-left: 10px;
    padding-left: 5px;
}

.header-add-content {
    display: flex;
}

@media screen and (max-width: 1800px) {
    body {
        width: 100%;
    }
}

@media screen and (min-width: 1800px) {
    body {
        width: 1800px;
    }
}

#content {
    display: flex;
    align-items: center;
    background: #f3f3f3;
    padding: 10px;
}

#content-all {
    width: 100%;
}

.inner-list {
    width: auto;
}

.labels > .label-item {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    border: none;

    /*border-radius: 3px;*/
    /*box-shadow: 0 4px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    /*margin: 5px 2px 5px 2px;*/

    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background: #2980B9;
}

.labels > .label-item {
    color: #fff;
}

.labels > .label-item > .flex-item {
    color: #fff;
}

.content-list-success {
    background: none;
}

.content-list > .content-list-item {
    display: flex;
    border: none;

    /*margin: 5px 2px 5px 2px;*/
    /*box-shadow: 0 4px 4px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    /*border-radius: 3px;*/

    align-items: center;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.content-list-success:nth-of-type(odd) > .content-list-item {
    background: #e9e9e9;
}

.content-list > .content-list-item > .flex-item {
    font-size: 1em;
    color: #3b3b3b;
}

.content-list > .empty {
    justify-content: center;
}

.content-list > .column-2, .column-3, .column-4 {
    /*justify-content: center;*/
}

.content-list-success > .content-list-item {
    background: #fff;
}

.content-list > .content-list-item {
    background: #FAD763;
}

.content-list-success > .content-list-item {
    background: #fff;
}

.tabs-content {
    border: solid 2px #e4e4e4;
}

#inner-list {
    padding: 0;
}
